@model Zoe.Models.LoginModel

@{
    ViewBag.Title = "Entrar al sistema";
}

<section class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Usuario" } )
                        </div>
                        <span class="">@Html.ValidationMessageFor(m => m.UserName)</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" })
                        </div>
                        <span class="">@Html.ValidationMessageFor(m => m.Password)</span>
                    </div>
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe) Recuérdame
                    </div>
                </div>
                <br />
                <input type="submit" value="Entrar" class="btn btn-success" />
            </fieldset>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
