@model Zoe.Models.Surgery

@{
    ViewBag.Title = "Agendar una cirugía";
}

<div class="col-md-6 col-md-offset-3">
    <h2>Agendar una cirugía</h2>
    <br />
    @using (Html.BeginForm("Create", "Surgery", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label">Paciente</label>
                <div class="col-md-9">
                    @Html.DropDownList("Patient_Id", new SelectList((IEnumerable<Zoe.Models.Patient>)ViewData["Patients"], "Id", "NombreCompleto"), new { @class = "form-control" })
                </div> 
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SurgeryType_Id, "Tipo de cirugía", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("SurgeryType_Id", new SelectList((IEnumerable<Zoe.Models.SurgeryType>)ViewData["SurgeryTypes"], "Id", "Nombre"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Doctor_UsersId, "Doctor", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("Doctor_UsersId", new SelectList((IEnumerable<Zoe.Models.UserProfile>)ViewData["Doctors"], "UserId", "UserName"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Costo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Costo)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaInicio, "Fecha y hora", new { @class = "col-md-3 control-label" })
    
                <div class="col-md-9">
                    <input name="FechaInicio" type="text" class="form-control datetime-picker" />
                    @*@Html.EditorFor(model => model.FechaInicio, new { @class = "form-control datetime-picker" })*@
                    @Html.ValidationMessageFor(model => model.FechaInicio)
                </div>
            </div>
            <br />
            <div class="btn-group">
                @Html.ActionLink("Volver a la lista", "Index", "Surgery", new { @class = "btn btn-primary" })
                <input type="submit" value="Agendar" class="btn btn-success" />
            </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
