<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderSection("featured", required: false)
    @Html.Partial("_NavBarPartial")
    @RenderBody()
    @Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.js")
    @RenderSection("scripts", required: false)
    <script>
        jQuery('.datetime-picker').datetimepicker({
            format: 'd-m-Y H:i'
        });
    </script>
</body>
</html>
